{
    padding: 8px;
    margin: 0;
}
.content{
    width: 700px;
    height: 500px;
    margin-top: 40px auto;
    border: 2px solid black;
    background-color: aqua;

}

.item{
    float: left;
}

.item1{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: absolute;
    top: 50px;


}
.item2{
    width: 150px;
    height: 150px;
    background-color: red;
}

.item3{
    width: 150px;
    height: 150px;
    background-color: green;
}

.paragraph{
    background-color: red;
    position: fixed;
    top:30px;
    left: ;
}

nav{
    width: 100px;
    height: 70px;
    box-shadow: 2px 2px 5px black;
    display: flex;
}

.nav-logo{
    width: 30%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo p{
    color: blue;
    font-size: 25px;
}

.nav-logo p span{
    color: yellow;
}

ul{
    width: 60%;
    background-color:brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

ul li{
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: ease;

}


.nav-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn button{
    padding: 10px 20px;
    background-color: green;
    background: none;
    border-radius: 5px;
    color: aliceblue;
}

.nav-button:hover{
    background-color: yellow;
    cursor: pointer;
}

.move:hover{
    transform:translate(400px)  ;
}

.move{
    width:100px;
    height: 10px;
    background-color: yellow;
    transition-property: transform; 
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-timing-function: step(3);
    transition-delay: 3s;
}
.move : hover{
    transform: translate(400px);
}
   

